body {
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    margin: 80px;
}

div {
    background-color: cornflowerblue;
    margin-top: 24px;
    margin-bottom: 0px;
}

#savebutton {
    margin-top: 10px;
}

#notes {
    align-self: center;
}

h1 {
    text-align: center;
}

#textbox {
    border: groove 6px orange
}

li {
    margin: 10px;
   
    border:double 4px orange;
}

